@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  @apply bg-gradient-to-r from-purple-600 to-indigo-500;
}

* {
  box-sizing: border-box;
}

/* Headings */

/* Heading 1 */
h1 {
  @apply text-4xl font-bold text-gray-900 leading-tight;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* Heading 2 */
h2 {
  @apply text-3xl font-bold text-gray-900 leading-tight;
  margin-top: 18px;
  margin-bottom: 9px;
}

/* Heading 3 */
h3 {
  @apply text-2xl font-bold text-gray-900 leading-tight;
  margin-top: 15px;
  margin-bottom: 6px;
}

/* Heading 4 */
h4 {
  @apply text-xl font-bold text-gray-900 leading-tight;
  margin-top: 12px;
  margin-bottom: 3px;
}

/* Heading 5 */
h5 {
  @apply text-lg font-bold text-gray-900 leading-tight;
  margin-top: 9px;
  margin-bottom: 2px;
}

/* Heading 6 */
h6 {
  @apply text-base font-bold text-gray-900 leading-tight;
  margin-top: 6px;
  margin-bottom: 1px;
}

p {
  @apply text-base text-gray-700 leading-relaxed;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Lists */

ul,
ol {
  @apply list-inside;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Links */

a {
  @apply text-blue-600 hover:text-blue-800;
  text-decoration: none;
}

/* Buttons */

button {
  @apply px-4 py-2 rounded-lg shadow-lg bg-blue-500 hover:bg-blue-600 text-white;
}

.blog-post {
  @apply bg-gradient-to-r from-purple-600 to-indigo-700;
}
